<div id="cat">
<span> 
  <h1>Category(s) </h1> 
  <md-button class="md-raised pull-right" id="cate"><%= link_to "New Category", new_category_path %></md-button>
</span>
<br><br>

  <md-table>
    <md-table-header>
      <md-table-row>
        <md-table-head>S.No </md-table-head>
        <md-table-head> Category </md-table-head>
        <md-table-head> Subcategory </md-table-head>
        <md-table-head> Action </md-table-head>
      </md-table-row>
    </md-table-header>

    <md-table-body>
      <% unless @categories.blank? %>
        <% @categories.each_with_index do |c, index| %>
          <md-table-row >
            <md-table-cell><%= index + 1 %></md-table-cell>
            <md-table-cell ><%= c.title rescue "NA" %></md-table-cell>
            <md-table-cell >
                <% c.subcategories.each do |cs| %>
                  <%= cs.title %>
                <%end%>  
            </md-table-cell>
            <md-table-cell > 
              <span style="display:inline-block;"> 
                <div class="btn btn-default" id="primarybutton">
                  <%= link_to "Show", category_path(c) %>
                </div> 
                
                <div class="btn btn-default" id="dangerbutton">
                  <%= link_to "Delete", category_path(c), method: :delete, data:{ confirm: " Do you want to delete" } %>
                </div>
                <div class="btn btn-default" id="editbutton">
                    <%= link_to "Edit", edit_category_path(c) %>
                </div>    
              </span>   
            </md-table-cell>
          </md-table-row>
        <% end %>
      <% else %>
        <md-table-row>
          <md-table-cell colspan="4"> NO CATEGORY FOUND </md-table-cell>
        </md-table-row>            
      <%end%>
    </md-table-body>
  </md-table>
</div>
<style>
#primarybutton {
  border-radius: 50%;
}

#dangerbutton{
  border-radius: 50%;
}
#cate:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#primarybutton:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #99b3ff;

}

#dangerbutton:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #ffb3b3;
}

#editbutton:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #99ff99;
  }

#editbutton {
    border-radius: 50%;
  }


</style>

<script>
  Vue.use(VueMaterial)
  new Vue({
    el:'#cat'
  });  
</script> 
